<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="player : ${player}">
    <a th:href="@{/player/{id}(id=${player.getId()})}"
       th:text="${player.getFirstName()}">name
       th:text="${player.getSecondName()}">surname
       th:text="${player.getDateOfBirth()}">date
       th:text="${player.getStatus()}">status
       th:text="${player.getHealthStatus()}">health
       th:text="${player.getSalary()}">salary</a>
</div>

<br/>
<hr/>

<a href="/player/new">Create new player</a>

</body>
</html>
